/* STYLE */
*{
  box-sizing: border-box;
  font-family:Courier New;
  padding:0px;
}
html {
  height:100%;
}
body {
    margin: 0px;
  position: relative;
  height:100%;
   background-image:url("1.jpg"); 
  background-position:center;
   background-repeat:no-repeat;
   background-size:cover;   
}
nav a img {
  width: 50px;
  max-width: 50px;
  margin-left:4px;
}
nav {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 20px;
}
ul li{
  list-style: none;
  padding: 8px;
  margin: 0px 3px;
  background:#f1c40f;
  font-weight: bold;
  height: auto;
  border: 2px solid #00FF00;
  border-radius: 40px;
  cursor: pointer;
  width:120px;
  max-width: 100%;
  text-align: center;
}
ul li:hover {
border-width:8px;
    background: #3c6382;
    border-left:6px solid #3c6382;
    color: snow;
}
ul li a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  background:#00FFFF;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.hlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.login-f {
  margin: 0px 15px;
}
.login-f button{
  transition:0.3s all ease-in-out;
  background: #f1c40f;
 border: 2px solid #00FF00;
  border-left:2px solid #00FF00;
  border-radius:40px;
  width: 85px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
   text-align:center;
   border-radius:40px;
}
.login-f button:hover{
  border-width:8px;
    background: #3c6382;
    border-left:6px solid #3c6382;
    color: snow;
}
.login-f input {
  width: 175px;
  border: 2px solid green;
  border-top:4px solid yellow;
  border-radius: 3px;
  height:35px;
  padding:4px;
  border-radius:40px;
}

.signup-l {
  background:#f1c40f;
  color:black;
  width: 85px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #00FF00;
  border-radius: 30px;
  cursor: pointer;
  height: 35px;
  text-decoration:none;
  margin:0px 10px;
  padding: 3px;
  transition:0.3s all ease-in-out;
  
 

}
.signup-l:hover{
 border-width:4px;
    background: yellow;
    border-left:6px solid #3c6382;
    color: snow;
}
.main-div {
  text-align: center;
  width: 550px;
  margin: 60px auto;
}
.main-div p{
  color: #ecf0f1;
    background: #2d2d2d;
  height: 35px;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 0.5px 6px #2c3e50;
}
.truelogin p
{color:green;
 font-weight: bold;
    background: #2d2d2d;
  height: 35px;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 0.5px 6px #2c3e50;
  text-align: center;
  width: 550px;
  margin: 60px auto;
  
  }
footer{
  background: #222222;
  margin: 0px;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding:10px;
  color:snow;
  font-weight: bold;
    height: 60px;
	margin-top:425px;
	

}
.falselogin p
{color:red;
 font-weight: bold;
    background: #2d2d2d;
  height: 35px;
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 0.5px 6px #2c3e50;
  text-align: center;
  width: 550px;
  margin: 60px auto;}
h2
{
  color: #ecf0f1;
    background: #2d2d2d;
  height: 35px;
  width:200px;
  padding: 3px;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 1px 0.5px 6px #2c3e50;
}

.signup-m{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
height:50%;
}
.signup-m form{
display:flex;
flex-direction:column;
align-items:center;
justify-items:center;
margin-top:50px;

}
.signup-m form input{
  width: 175px;
  border: 2px solid green;
  border-top:4px solid yellow;
  border-radius: 3px;
  height:35px;
  padding:4px;
  border-radius:40px;
}  
.signup-m form label{
color: black;	
font-weight: bold;
	
}
.signup-m form button {
 background:#f1c40f;
  color:black;
  width: 85px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #00FF00;
  border-radius: 30px;
  cursor: pointer;
  height: 35px;
  text-decoration:none;
  margin:0px 10px;
  padding: 3px;
  transition:0.3s all ease-in-out;
}
.signup-m form button:hover{
	
	border-width:8px;
    background: #3c6382;
    border-left:6px solid #3c6382;
    color: snow;
	
}
.boody form{
	
	align-items:center;
justify-items:center;
margin-left:137px;
margin-bottom:70px;
	
	}
.boody img{
width:400px;
margin-left:60px;
}


	
	
	
	